@page "/AddProduct"
@using System.ComponentModel.DataAnnotations
@using BlazorApp.Data
@using Blazored.Toast
@using Blazored.Toast.Services

<h3>Add Product</h3>

@inject AppDbContext Db;
@inject IToastService toastService;
@inject IProductRepository _Repository;
@inject ILogger<ProductRepository> logger;

<EditForm Model="_model" OnValidSubmit="ProcessValidForm">
  <DataAnnotationsValidator/>
 
  Название продукта: <InputText @bind-Value="_model.Name" />
  Цена: <InputText @bind-Value="_model.Price" />
  Адрес картинки: <InputText @bind-Value="_model.URL" />

  <br/> <input type="submit" value="Добавить в базу">
  <ValidationSummary/>

</EditForm>

@code {
  private AddFormModel _model = new();
  
  private class AddFormModel
  {
    [Required]
    public string Name { get; set; }
    
    [Required]
    public string Price { get; set; }

    [Required]
    public string URL { get; set; } = "";
  }

  private void ProcessValidForm()
  {
    //логика обработки формы
    try
    {
      AddProductToDB(new Product(_model.Name, decimal.Parse(_model.Price), _model.URL));
    }
    catch (Exception ex)
    {
      logger.LogError(ex, "Не удалось создать экзмепляр продукт");
    }
  }
  
  public void AddProductToDB(Product product)
  {
    try
    {
      _Repository.Add(product);
    }
    catch (Exception ex)
    {
      logger.LogError(ex, "Не удалось добавить в базу данных");
    }
  }
}